[Desktop Entry]
Type=Application
Name=kps
GenericName=Keep pointer active
Comment=Evita inactividad: cursor, teclado o solo inhibir sleep del SO
Exec=kps --tray %F
Icon=kps
Categories=Utility;
Terminal=false
StartupNotify=false
